@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint");
h1 {
    text-align: center;
    font-family: "Bungee Tint";
    background-color: rgb(121, 33, 21);
    border: 3px solid rgb(238, 20, 64);
    border-radius: 10px;
}
p {
    text-align: center;
    line-height: 2;
    font-family: "Black Ops One";
    padding: 5px 20%;
}
h2 {
    text-align: center;
}
.one{
    width: 50%;
    margin: auto;
    display: block;
}
.top-bar {
    right: 0;
    top: 0;
    left: 0;
    padding: 5px 20%;
    position: fixed;
    line-height: 4.5;
    background-color: rgb(9, 15, 105);
    text-align: center;
    
}
.content {
    margin-top: 100px;
}
.page{
    display: inline-block;
    color: rgb(70, 74, 139);
    border: 3px solid rgb(25, 13, 46);
    border-radius: 10px;
    text-decoration: none;
}