@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint");
h1 {
    text-align: center;
    font-family: "Bungee Tint";
    background-color: rgb(121, 33, 21);
    border: 3px solid rgb(238, 20, 64);
    border-radius: 10px;
}
p {
    text-align: center;
    line-height: 2;
    font-family: "Black Ops One";
}
h2 {
    text-align: center;
    

}